collision_monitor:
  ros__parameters:
    use_sim_time: true
    base_frame_id: base_footprint
    odom_frame_id: odom
    cmd_vel_in_topic: /cmd_vel_smooth
    cmd_vel_out_topic: /cmd_vel_safe
    state_topic: /collision_monitor_state
    expected_planner_frequency: 10.0
    transform_tolerance: 0.5
    state_update_rate: 10.0
    source_timeout: 1.0
    stop_pub_timeout: 0.5
    polygons: ["obstacle_monitor", "footprint", "stop_zone", "slowdown"]
    obstacle_monitor:
      type: "polygon"
      topic: "scan"
      points: [0.5, 0.3, 0.5, -0.3, -0.5, -0.3, -0.5, 0.3]
      time_allowance: 0.5
      action_type: "stop"
      min_points: 3
      enabled: true
      visualize: true
    footprint:
      type: polygon
      action_type: stop
      min_points: 3
      points: [1.19, 0.46, 1.19, -0.46, -0.25, -0.46, -0.25, 0.46]
      visualize: true
      enabled: true
    stop_zone:
      type: polygon
      action_type: stop
      min_points: 3
      points: [1.8, 0.5, 1.8, -0.5, 0.9, -0.5, 0.9, 0.5]
      visualize: true
      enabled: true
    slowdown:
      type: "polygon"
      points: [1.2, 0.8, 1.2, -0.8, -1.0, -0.8, -1.0, 0.8] # Área más grande
      action_type: "slowdown"
      slowdown_ratio: 0.3
      enabled: true
      visualize: true
    observation_sources: ["lidar"]
    lidar:
      type: pointcloud
      topic: /scan_3d
      min_height: 0.11
      max_height: 1.60
      enabled: true
