collision_monitor:
  ros__parameters:
    use_sim_time: true
    base_frame_id: base_footprint
    odom_frame_id: odom
    cmd_vel_in_topic: /cmd_vel
    cmd_vel_out_topic: /cmd_vel_safe
    state_topic: /collision_monitor_state
    expected_planner_frequency: 10.0
    transform_tolerance: 0.5
    state_update_rate: 10.0
    source_timeout: 1.0
    stop_pub_timeout: 0.5
    polygons: ["footprint", "stop_zone", "slowdown"] # Eliminamos obstacle_monitor por redundancia
    
    footprint:
      type: "polygon"
      action_type: "stop"
      min_points: 3
      points: [1.19, 0.46, 1.19, -0.46, -0.10, -0.46, -0.10, 0.46] 
      visualize: true
      enabled: true

    stop_zone:
      type: "polygon"
      action_type: "approach"
      min_points: 3
      points: [1.3, 0.4, 1.3, -0.4, 0.8, -0.4, 0.8, 0.4]
      time_allowance: 0.5
      approach_velocity: 0.3
      visualize: true
      enabled: true

    slowdown:
      type: "polygon"
      points: [2.0, 0.7, 2.0, -0.7, 1.0, -0.7, 1.0, 0.7]
      action_type: "slowdown"
      slowdown_ratio: 0.85
      enabled: true
      visualize: true

    observation_sources: ["lidar"]
    lidar:
      type: pointcloud
      topic: /scan_3d
      min_height: 0.11
      max_height: 1.60
      enabled: true
